@{
    ViewData["Title"] = "Om Oss";
}
<h1>@ViewData["Title"]</h1>

<p>Här kan vi skriva vart vi har butiken osv osv. Ägare och orgnummer.</p>

<p>Namn:</p>
<p>Adress:</p> 
@* Här kan vi lägga in en google api ruta för google maps. *@
<p>Orgnummer:</p>